TABLE {
    font-size: 9pt;
    color: Black;
}

.nav {
    font-size: 10pt;
    color: #ffffff;
}

A.LinkTitle:active {
    color: Black;
    text-decoration: none;
}

A.LinkTitle:visited {
    color: Black;
    text-decoration: none;
}

A.LinkTitle:link {
    color: Black;
    text-decoration: none;
}

A.LinkTitle:hover {
    color: Red;
    text-decoration: none;
}

A.nav:active {
    color: Black;
    text-decoration: none;
}

A.nav:visited {
    color: #ffffff;
    text-decoration: none;
}

A.nav:link {
    color: #ffffff;
    text-decoration: none;
}

A.nav:hover {
    color: Red;
    text-decoration: none;
}

A:visited {
    color: Black;
    text-decoration: none;
}

A:link {
    color: Black;
    text-decoration: none;
}

A:hover {
    color: Red;
    text-decoration: underline;
}

.text {
    font-size: 9pt;
    line-height: 19pt;
    font-family: "ו";
}

Select {
    font-size: 9pt;
    border: 1px solid #000000;
}

.newstime {
    font-weight: bold;
    font-size: 7pt;
    color: #cccccc;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

UL {
    line-height: 15pt;
}

A:active {
    color: Black;
    text-decoration: none;
}

.DarkItem {
    font-size: 9pt;
    vertical-align: super;
    background-color: silver;
    text-align: center;
}

.LightDarkItem {
    font-size: 9pt;
    vertical-align: super;
    background-color: #eeeeee;
    text-align: center;
}

.Item {
    font-size: 9pt;
    vertical-align: super;
    background-color: white;
    text-align: center;
}

.lblcontent {
    text-align: left;
}

.LiItemYellow {
    cursor: hand;
    background-color: Yellow;
}

.LiItemBlack {
    cursor: hand;
    color: #000000;
}

LI.treeBrauch {
    LIST-STYLE-IMAGE: url(../images/tree_plus.gif);
    CURSOR: hand;
    color: #000000;
}

LI.treeLeaf {
    LIST-STYLE-IMAGE: url(../images/tree_open.gif);
    cursor: hand;
    color: #000000;
}

#flash {
    BACKGROUND-COLOR: #FAFAFA;
    BORDER-BOTTOM: #006A00 1px solid;
    BORDER-LEFT: #A1A1A1 1px solid;
    BORDER-RIGHT: #A1A1A1 1px solid;
    BORDER-TOP: #A1A1A1 1px solid COLOR:#000000;
    FONT-SIZE: 11px
}

.box {
    BACKGROUND-COLOR: #FAFAFA;
    BORDER-BOTTOM: #006A00 1px solid;
    BORDER-LEFT: #A1A1A1 1px solid;
    BORDER-RIGHT: #A1A1A1 1px solid;
    BORDER-TOP: #A1A1A1 1px solid;
    COLOR: #000000;
}

.leafWhite {
    color: #ffffff;
    font-size: 10pt;
    list-style-image: url(../images/tree_open.gif);
}

.brauchWhite {
    color: #ffffff;
    font-size: 10pt;
    list-style-image: url(../images/tree_plus.gif);
}